/* general */
.image-only {
  height: 200px;
  width: 100%;
  background-color: transparent;
  background-position: center center;
  background-size: cover;

  @media screen and (min-width: 425px) {
    height: 400px;
  }
}

.masthead-subheading {
  width: 50%;
  line-height: 100%;
}

.img-fluid {
  width: 125px;
  height: 125px;
}

form button {
  padding: 0.5rem 1rem !important;
}

/* 1st section */
.masthead {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 6rem;
}

.bg-primary {
  background-color: transparent;
  background-image: url("../assets/images/Tomas-surfing-main.jpeg");
  background-position: center center;
}

/* end of 1st section */

/* 2nd section */
.page-section-subheading {
  font-size: 1.5rem;
  text-align: center;

  @media screen and (min-width: 576px) {
    text-align: left;
  }
}

/* end of 2nd section */

/* 3rd section */
#empty-section-1 {
  background-image: url("../assets/images/Tomas-surfing-1.png");
}
/* end of 3rd section */

/* 5th section */
#empty-section-2 {
  background-image: url("../assets/images/Tomas-surfing-2.png");
  background-position: center 31%;
}
/* end of 5th section */

/* social media section */
.social-media-item {
  margin-bottom: 2rem;
}

.social-media-item .social-media-item-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;

  @media screen and (min-width: 576px) {
    gap: 32px;
    flex-direction: row;
  }
}

.social-media-item a {
  transition: all 0.1s ease-in;
}

.social-media-item a:hover {
  transform: scale(0.95);
}

.social-media-item-image {
  display: flex;
  justify-content: center;
}

.social-media-item-text {
  display: flex;
  align-self: center;
  text-align: center;
  margin-top: 1rem;

  @media screen and (min-width: 576px) {
    text-align: left;
    margin-top: 0;
  }
}

/* footer */
.created-by {
  color: gray;
  font-size: 0.85rem;
}
